<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>822620281961-jnumm8kra5a1dn4llhi8b48ini3cm642.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.822620281961-jnumm8kra5a1dn4llhi8b48ini3cm642</string>
	<key>API_KEY</key>
	<string>AIzaSyD2Aqajwmd8SkV3p38AgkH4gk8mXbWvisM</string>
	<key>GCM_SENDER_ID</key>
	<string>822620281961</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hizamirashid.VehicleTracking</string>
	<key>PROJECT_ID</key>
	<string>vehicletracking-c1b5e</string>
	<key>STORAGE_BUCKET</key>
	<string>vehicletracking-c1b5e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:822620281961:ios:71343fe0fe91716d</string>
	<key>DATABASE_URL</key>
	<string>https://vehicletracking-c1b5e.firebaseio.com</string>
</dict>
</plist>